@tailwind base;

:root {
	--primary: #ffb800;
	--secondary: #3257ec;
	--tertiary: #26ce85;
	
	--text-color: #040b12;
	--secondary-text-color: #ffffff;

	--background-page: #f4f5f7;
	--background-primary: var(--primary);
	--background-secondary: var(--secondary)
	--background-tertiary: var(--tertiary)
}

@media only screen and (prefers-color-scheme: dark) {
	:root {
		--text-color: #ffffff;
		--background-page: #09090b;
	}
}

* {
	font-family: 'Lexend', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-page);
	color: var(--text-color);
}

@tailwind utilities;
@tailwind variants;

/* Markdown */

#md h1,
#md h2,
#md h3,
#md h4,
#md h5,
#md h6,
#md p,
#md li,
#md blockquote,
#md pre {
	display: block;
	font-weight: 400;
	padding: 2px 8px; 
	margin: 16px 0;
}

#md h1 {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin: 64px 0;
}

#md h2 {
	color: #3257ec;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	margin: 48px 0;
}

#md h3 {
	color: #26ce85;
	font-size: 20px;
	font-weight: 700;
}

#md a {
	color: var(--secondary);
}

#md p {
	text-align: justify;
}

#md strong {
	font-weight: 700;
}

#md ul {
	margin-bottom: 32px;
}

#md li {
	display: list-item;
	text-align: justify;
	list-style-type: disc !important;
	margin: 0;
}

#md > li > ul > li {
	text-indent: 32px;
}

#md table {
	border-radius: 12px;
	background-color: rgba(113, 113, 122, .25);
	width: 100%;
	overflow: hidden;
	border-spacing: 0;
}

#md th {
	background-color: #ffb800;
	color: white;
	padding: 8px 16px;
}

#md td {
	padding: 8px 16px;
}

#md tr:nth-child(even) {
	background-color: #cfcfcf;
}

#md > blockquote {
	background-color: #cfcfcf50;
	border-left: 4px solid #cfcfcfcf;
}

#md code:not(pre > code) {
	display: inline;
	background-color: #bfbfbf50;
	border-radius: 4px;
	padding: 1px 4px;
}

#md pre {
	background-color: #bfbfbf50;
	border: 1px solid #cfcfcf50;
	border-radius: 8px;
	padding: 8px 12px;
}